/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  color: white;
}
body {
  margin-bottom: 150px;
  color: white;
  background-color: lightgrey;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #343a40;
  color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

main {
	/* height of header */
	margin-top: 55px;	
}

.jumbotron {
	color: white;	
	height: 500px;
}

.jumbotron-image {
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0, 0, 0, 0.80)),
    url('../assets/media/237798-P2RB6K-940.jpg');
    background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

#searchContainer {
	padding-top:100px;	
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.recipe-result{	
	color: black;
}