/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  color: white;

main {
	/* height of header */
	margin-top: 55px;	
}

.jumbotron {
	color: white;	
	height: 500px;
}

.jumbotron-image {
  background-image: url('../assets/media/237798-P2RB6K-940.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}